* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
    margin: 0px;
    padding: 0px;
    
}
.navbar {
    background: #250345;
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 3vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 2.5vw;
    font-weight: bold;
    color: #ffffff;
}
.navbar ul li:hover{
    border-bottom: 3px solid #ffffff;
    transition: 0.2s;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.main-page {
    height: 630px;
    width: 100vw;
    background: #3C096C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    font-family: Arial, Helvetica, sans-serif;
    border: 6px solid #FFFFFF;
    padding: 15px;
    color: #ffffff;
    cursor: default;
    border-radius: 10px;
    font-size: 26px;
    letter-spacing: 2px;
    position: static;
}
.heading:hover {
    padding: 17px;
    font-size: 28px;
}
.team-details {
    background: #f1c9d0;
}
.team-details h2 {
    text-align: center;
    color: #7b2cbf;
}
.main.font {
    margin: 3vw 20vw 3vw 40vw;
}
h2 {
    margin-top: 12px;
}
.members {
    display: flex;
    justify-content: space-evenly;
}
.members .font {
    color: #7b2cbf;
}
.members h5 {
    color: #7b2cbf;
}
.photo {
    width: 265px;
    border-radius: 50%;
   margin-top: 6vh;
}
.details {
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.details h4 {
    text-align: center;
    color: #7b2cbf;
}

.vision {
    background-color: #3C096C;
}
.vision h2{
    text-align: center;
    color: #ffffff;
    margin-left: 42vw;
}
.vision h3 {
    color: #FFFFFF;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px 7px 0 4px;
}
.header img{
    width: 26px;
    margin-right: 11px;
}
.text {
    background-color: #f1c9d0;
    height: fit-content;
    border-radius: 46px 8px;
    margin: 5% 25%;
}
.font {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 31px;
    letter-spacing: 0.8px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
}
.heading.font {
color: #FFFFFF;
}
.underline {
    display: inline-block;
    position: relative;
    text-align: center;
}
.main {
    margin-left: 44vw;
}

  .underline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #7b2cbf;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .underline:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .text-style {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 6vh;
  }
  .text-style:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .text-style:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .list {
      padding: 3vw;
  }
.list li {
      padding: 3px 0px;
      list-style: circle;
  }
  

@media only screen and (max-width: 600px) {
    .main-page {
        height: 560px;
    }
    .heading {
        padding: 9px;
        border: 5px solid #ffffff;
        font-size: 21px;
        letter-spacing: 1px;
    }
    .members {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text  {
        padding: 1px;
    }
    .text {
        /* margin: 4vh 12vw;
        height: fit-content; */
        /* padding: 4vh; */
        margin: 4vh 8vw;
        height: fit-content;
        padding: 2vh;
        font-size: 2.4vh;
        line-height: 1.5;
    }
    .photo {
        width: 46vw;
        margin: 6vh 0 -2vh 25vw;
    }
    .details h4 {
        text-align: center;
        color: #7b2cbf;
    }
    .content .header .font {
        font-size: 6vw;
    }
    .details .font {
        font-size: 8vw;
    }
    .team-details .main {
        display: inline-block;
        text-align: center;
        margin: 7vw 2vw 1vw 7vw;
        width: 91vw;
        font-size: x-large;
    }
    .vision h2  {
        font-size: 7vw;
        margin-left: 25vw;
        margin-right: 25vw;
    
    }
    .navbar ul li{
        font-size: 5vw;

    }
    .navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar ul li:hover{
        border: none;
    }
}

